.grid {
  display: grid;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
  /* grid-gap: 30px; */
  /* grid-template-columns: 40% 30% 30%; */
}

.grid-left {
  grid-area: left;
  padding: 20px;
}

.grid-right {
  grid-area: right;
  padding: 20px;
}

.grid-center {
  grid-area: center;
  padding: 20px;
}

.grid-bottom {
  grid-area: bottom;
  padding: 20px;
}

.grid-top {
  grid-area: top;
}

.header-button {
  margin: 0 10px;
}
